<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      GitHub Emojis
    </title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chewy&family=Kufam:wght@700&family=Nanum+Gothic+Coding&display=swap" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>
      <span class="github">GitHub</span>
      <span class="emojis">emojis</span>
      <img src="./favicon.png" alt="logo" width="75" class="logo" />
    </h1>

    <div id="app">
      <div id="search">
        <input
          ref="searchInput"
          v-model.trim="searchText"
          placeholder="Search for emoji..."
          autofocus
        />
        <button type="button" v-if="searchText" @click="clearSearch">&times;</button>
      </div>
      <div id="emojis-cards">
        <div
          v-for="emoji in searchedEmojis"
          :key="emoji.name"
          @click="copyToClipboard(emoji.name)"
        >
          <img :src="emoji.url" alt="emoji" />
          <span>{{ emoji.name }}</span>
        </div>
      </div>
      <transition name="fade">
        <div id="notification" v-if="notification">
          <p>Copied <strong>{{ notification }}</strong><br/>
            to Clipboard!</p>
        </div>
      </transition>
    </div>

    <footer>
      LacusSoft &copy; 2020 - All Rights Reserved
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts.js"></script>
  </body>
</html>
